.navbar-brand{
    color:blue;
}
.navbar-default{
    transition-duration:0.5s;
}
.navbar-default:hover{
    background-color:#a7e9eb;
}
.navbar-footer{
    position:relative;
    top:10px;
    float:right;
    color:white;
}
.col-md-6{
    padding-top:100px;
}
.col-md-3{
    padding-top:100px;
}
.dropdown{
    position:relative;
    top:50px;
}
form{
    padding-top:40px;
}
label{
    padding-top:20px;
}
#smileys{

}