*{
    margin:0;
    padding:0;
}
body {
    padding-top:80px;
    background-color:black;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
    color:#FFFFFF;
}
.navbar-default{
    transition-duration:0.5s;
}
.navbar-default:hover{
    background-color:#a7e9eb;
}
.navbar-footer{
    position:relative;
    top:10px;
    float:right;
    color:white;
}
.row2{
    padding-top:350px;
}
.row2 .thumbnail{
    box-shadow:2px 2px;
    background-color:gray;
    transition:transform 0.5s;

}
.row2 .thumbnail:hover{
    background-color:lightblue;
    transform:rotateY(180deg);
}






