*{
    margin:0;
    padding:0;
}
body {
    padding-top:80px;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
    color:#FFFFFF;
}
.navbar-default{
    transition-duration:0.5s;
}
.navbar-default:hover{
    background-color:#a7e9eb;
}