body {
}
canvas{
    width:2350px;
    height:1000px;
}
img{
    width:1180px;
    height:670px;
}
#aquarium{
    position:relative;
    left:154px;
    top:-875px;
}
#diver img{
    position:absolute;
    left:900px;
    top:400px;
    width:100px;
    height:140px;
}
#morayfish img{
    position:absolute;
    left:1000px;
    top:750px;
    width:100px;
    height:140px;
}
#stonefish img{
    position:absolute;
    left:200px;
    top:760px;
    width:100px;
    height:140px;
}
#shark img{
    position:absolute;
    left:600px;
    top:450px;
    width:100px;
    height:140px;
}
