body {
}
canvas{
    width:2350px;
    height:1000px;
}
img{
    width:1180px;
    height:670px;
}
#aquarium{
    position:relative;
    left:154px;
    top:-875px;
}
#diver img{
    position:absolute;
    left:900px;
    top:400px;
    width:100px;
    height:140px;
    animation-name:DiverMovement;
    animation-duration:40s;
    animation-iteration-count:infinite;
}
@keyframes DiverMovement {
    20% {top:700px;}
    40% {left:300px;}
    60%{top:400px;}
    65%{transform:rotateY(180deg)}
    80%{left:900px;}
    100%{top:400px;}
}
#morayfish img{
    position:absolute;
    left:1000px;
    top:750px;
    width:100px;
    height:140px;
    animation-name:morayMovement;
    animation-duration:20s;
    animation-iteration-count:infinite;
}
@keyframes morayMovement {
    0% {top:750px;}
    25% {left:900px;}
    50%{top:600px;}
    75%{left:1000px;}
    100%{top:750px;}
}
#stonefish img{
    position:absolute;
    left:200px;
    top:760px;
    width:100px;
    height:140px;
}
#shark img{
    position:absolute;
    left:600px;
    top:450px;
    width:100px;
    height:140px;
    animation-name:sharkMovement;
    animation-duration:40s;
    animation-iteration-count:infinite;
}
@keyframes sharkMovement {
    5%{transform:rotateY(180deg)}
    20% {top:450px;}
    40% {left:800px;}
    40%{transform:rotateY(180deg)}
    60%{top:300px;}
    80%{left:1200px;}
    99%{left:600px;}
    100%{top:450px;}
}
