*{
    margin:0;
    padding:0;
}
body {
    background-color:cyan;
}
header{
    background-color:black;
    text-align:center;
    padding:50px;
}
nav{
    padding:20px;
    background-color:black;
}
a{
    border:2px solid white;
    color:white;
    padding:10px;
    margin-left:100px;
    text-decoration:none;
    text-align:center;
    box-shadow:2px 2px;
    position:relative;
    bottom:20px;
    transition-duration:0.5s;
    transform:scale(2);
}
a:hover{
    background-color:snow;
    color:black;
}