html{
    background-color:lightblue;
}
body {
    background-color:grey;
    padding-left:250px;
}
header{
    margin-right:285px;
}
nav{
    background-color:gray;
}
#wrapper{
    background-color:snow;
    float:left;
    max-width:800px;
    padding-left:100px;
}
figure{
    float:left;
}
img{
    width:150px;
    height:200px;
    border:2px solid black;
}
#info{
    margin-left:15px;
}
#money{
    margin-left:40px;
}

