html{
    background-color:gray;
}
body {
    background-color:lightblue;
    padding-left:250px;
}
header{
    margin-right:285px;
}
nav{
    background-color:lightblue;
}
#wrapper{
    background-color:snow;
    float:left;
    max-width:800px;
    padding-left:80px;
}
figure{
    float:left;
}
img{
    width:120px;
    height:160px;
    border:3px solid black;
}
#amountToBuy{
    width:60px;
}
#purchaseButton{
    width:50px;
}