body {
    background-color:gray;
}
h3{
    margin-left:15px;
}
p{
    margin-left:15px;
}
header{
    background-color:wheat;
}
#wrapper{
    background-color:snow;
    border:2px solid black;
    margin-right:1200px;
    margin-top:20px;
}
fieldset{
    margin-left:10px;
    margin-right:10px;
}

