body{
    background-color:lightgray;
}
header{
    background-color:black;
    color:white;
    padding:5px;
}
h1{
    text-align:center;
    padding-top:10px;
}
a{
    display:block;
    width:120px;
    height:25px;
    text-align:center;
    background-color:white;
    padding:5px;
    border-radius:5px;
}

/*Rules for postIt1 note*/
#postIt1 {
    background-color: green;
    margin: 100px;
    border: 5px solid black;
    text-shadow: 2px 2px gray;
    transform: rotate(-8deg);
    width: 200px;
    height: 150px;
    font-family: 'Comic Sans MS';
    text-align: center;
    position:relative;
    left:200px;
    top:100px;
}

    #postIt1 #postItBack1 {
        visibility: hidden;
    }

    #postIt1:hover {
        transform: scaleY(-2) rotateY(180deg);
        transition: 2s;
        transition-delay: 0.5s;
        background-color: hotpink;
    }

        #postIt1:hover #postItFront1 {
            visibility: hidden;
        }

        #postIt1:hover #postItBack1 {
            transform: rotate(180deg);
            position: center;
            position: relative;
            top: -50%;
            transition-delay: 1s;
            visibility: visible;
        }
/*legend postIt1 note*/


/*Rules for postIt2 note*/
#postIt2 {
    background-color: lightblue;
    margin: 100px;
    border: 5px solid black;
    text-shadow: 3px 3px 3px gray;
    transform: rotate(10deg);
    width: 200px;
    height: 150px;
    font-family: 'Comic Sans MS';
    text-align: center;
    float: right;
    position:relative;
    top:-300px;
    right:200px;
}

    #postIt2 #postItBack2 {
        visibility: hidden;
    }

    #postIt2:hover {
        transform: scale(1.5) rotate(180deg);
        transition: 2s;
        transition-delay: 0.5s;
        background-color: red;
    }

        #postIt2:hover #postItFront2 {
            visibility: hidden;
        }

        #postIt2:hover #postItBack2 {
            transform: rotate(180deg);
            position: center;
            position: relative;
            top: -40%;
            transition-delay: 1s;
            visibility: visible;
        }
/*legend postIt2 note*/
