*{
    margin:0px;
    padding:0px;
}
header{
    background-color:aquamarine;
}
body {
    background-color:gray;
    padding:50px;
    min-width:480px;
}
h1{
    text-align:center;
    padding:50px;
}
@media screen and (max-width:768px){
    body{
        background-color:red;
    }
}
@media screen and (max-width:480px){
    body{
        background-color:purple;
    }
}

/*Rules form navmenu*/
#navMenu, .sub1{
    list-style-type:none;
}
#navMenu li{
    width:125px;
    position:relative;
    float:left;
    margin-right:3px;
}
#navMenu a{
    display:block;
    width:125px;
    height:35px;
    text-decoration:none;
    text-align:center;
    border-radius:5px;
    background-color:white;
    margin:1px;
    padding-top:5px;
}
#navMenu li:hover > a{
    background-color:aqua;
}
#navMenu .sub1{
    display:none;
}
#navMenu li:hover > .sub1{
    display: block;
}
