body {
    background-color:red;
    min-width:600px;
}
section{
    width:47%;
}
#section3{
    width:auto;
}
/*Rules for navmenu*/
#navMenu{
    min-width:445px;
}
#navMenu, .sub1 {
    list-style-type: none;
}
#navMenu li {
    width: 125px;
    position: relative;
    float: left;
    margin-right: 5px;
}
#navMenu a {
    display: block;
    width: 125px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    margin: 1px;
    padding-top: 5px;
}
#navMenu li:hover > a {
    background-color: aqua;
}

    #navMenu .sub1 {
        display: none;
    }

    #navMenu li:hover > .sub1 {
        display: block;
    }
/*end navMenu*/
